In [1]:
import pandas as pd
import seaborn as sns

catatan_lokasi = pd.read_csv("catatan_lokasi.csv")
data_profil = pd.read_csv("data_profil.csv")

In [2]:
catatan_lokasi.head()

   id   tanggal   lokasi_dominan
0   1  21/05/19    Jakarta Pusat
1   2  21/05/19  Kabupaten Bogor
2   3  21/05/19    Jakarta Pusat
3   4  21/05/19   Kota Tangerang
4   5  21/05/19       Kota Bogor

1. Dengan keadaan di mana salah satu divisi penting dari perusahaan Tokolapak ini karyawannya mudik semua, apakah jual beli toko online ini akan tetap berjalan?

In [8]:
divisi = data_profil.divisi.unique()
kel_divisi = {}
for div in divisi:
    kel_divisi[div] = set(data_profil[data_profil['divisi']==div].index.to_list())

In [9]:
jabodetabek = ["jakarta", "bogor", "depok", "tangerang", "bekasi"]
catatan_lokasi["mudik"] = 1
for i in catatan_lokasi.index:
    lokasi = catatan_lokasi.iloc[i].lokasi_dominan
    lokasi_perkata = lokasi.lower().split()
    for lk in lokasi_perkata:
        if lk in jabodetabek:
            catatan_lokasi["mudik"].iloc[i] = 0
            break

c:\winpython_64bit\python-3.6.5.amd64\lib\site-packages\pandas\core\indexing.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
#Ingin memeriksa setiap tanggalnya
tanggal_mudik = catatan_lokasi.tanggal.unique()
for tm in tanggal_mudik:
    print(f"\nTanggal {tm}")
    for div in kel_divisi:
        if kel_divisi[div].intersection(set(catatan_lokasi[(catatan_lokasi["mudik"]==1) & (catatan_lokasi["tanggal"]==tm)].id.to_list())):
            print(f"divisi {div} mudik semua")
            continue

Tanggal 21/05/19

Tanggal 22/05/19

Tanggal 23/05/19
divisi Software Engineer mudik semua

Tanggal 24/05/19
divisi Software Engineer mudik semua
divisi Marketing mudik semua

Tanggal 25/05/19
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 26/05/19
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Marketing mudik semua

Tanggal 27/05/19
divisi Customer Service mudik semua
divisi Software Engineer mudik semua
divisi Marketing mudik semua

Tanggal 28/05/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Marketing mudik semua

Tanggal 29/05/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 30/05/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 31/05/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 01/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 02/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 03/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 04/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 05/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 06/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 07/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 08/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 09/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 10/06/19
divisi Customer Service mudik semua
divisi Data Engineer mudik semua
divisi Software Engineer mudik semua
divisi Business Intelligence mudik semua
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 11/06/19
divisi Data Science mudik semua
divisi Marketing mudik semua

Tanggal 12/06/19
divisi Software Engineer mudik semua
divisi Marketing mudik semua

Tanggal 13/06/19
divisi Software Engineer mudik semua

Tanggal 14/06/19

Tanggal 15/06/19

2. Berapakah umur termuda dari karyawan yang tergabung dalam divisi Data Science?

In [11]:
#1. memfilter data yang berisi data science
profil_ds = data_profil[data_profil['divisi']=='Data Science']

umur_ds = profil_ds.umur
#sorting umur ascending
print(f"karyawan termuda di divisi Data Science berumur {umur_ds.min()} tahun")

karyawan termuda di divisi Data Science berumur 21 tahun

3. Berapa jumlah karyawan yang kemungkinan besar menyempatkan untuk berwisata ke Keraton Yogyakarta, Pantai Parangtritis, atau wisata Kaliurang selama masa mudiknya? (Asumsi karyawan yang mudik ke DIY saja yang kemungkinan besar berwisata ke tempat-tempat tersebut.)

In [12]:
#membuat list kosong yang diisi data
mudik_jogja = []
#periksa semua data catatan lokasi
for i in catatan_lokasi.index:
    lokasi = catatan_lokasi.iloc[i]["lokasi_dominan"]
    lokasi_perkata = lokasi.lower().split()
    for lk in lokasi_perkata:
        if lk in ["yogyakarta", 'jogjakarta']:
            mudik_jogja.append(catatan_lokasi.iloc[i]["id"])
            break
print(f"{len(set(mudik_jogja))} orang berkemungkinan wisata ke Keraton Yogyakarta, Pantai Parangtritis, atau wisata Kaliurang")

14 orang berkemungkinan wisata ke Keraton Yogyakarta, Pantai Parangtritis, atau wisata Kaliurang

4. Karyawan dengan id berapakah yang memiliki kesempatan besar untuk menikmati wisata Pantai Karang Bolong Kebumen?

In [13]:
mudik_kebumen = []
for i in catatan_lokasi.index:
    lokasi = catatan_lokasi.iloc[i]["lokasi_dominan"]
    lokasi_perkata = lokasi.lower().split()
    for lk in lokasi_perkata:
        if lk=="kebumen":
            mudik_kebumen.append(catatan_lokasi.iloc[i]["id"])
            break
print(f"{len(set(mudik_kebumen))} orang berkesempatan menikmati wisata Pantai Karang Bolong Kebumen")

2 orang berkesempatan menikmati wisata Pantai Karang Bolong Kebumen

5. Berapa jumlah karyawan yang melakukan mudik pada tanggal 30 Mei 2019?

In [14]:
jumlah_mudik_30mei = len(catatan_lokasi[(catatan_lokasi["mudik"]==1) & (catatan_lokasi["tanggal"]=="30/05/19")])

print(f"{jumlah_mudik_30mei} karyawan mudik pada tanggal 30 mei 2019")

34 karyawan mudik pada tanggal 30 mei 2019

6. Divisi apa yang karyawannya paling banyak melakukan mudik?

In [15]:
tanggal_mudik = catatan_lokasi.tanggal.unique()
skor_mudik = {}
for tm in tanggal_mudik:
    for div in kel_divisi:
        if kel_divisi[div].intersection(set(catatan_lokasi[(catatan_lokasi["mudik"]==1) & (catatan_lokasi["tanggal"]==tm)].id.to_list())):
            try:
                skor_mudik[div] += 1
#               skor_mudik[div] = skor_mudik[div] + 1
            except:
                skor_mudik[div] = 0
            continue
            
df_skor_mudik = pd.DataFrame(list(skor_mudik.items()),columns = ['divisi','skor'])
df_skor_mudik.sort_values("skor",ascending=False)

                  divisi  skor
0      Software Engineer    19
1              Marketing    19
2           Data Science    14
3          Data Engineer    14
5       Customer Service    14
4  Business Intelligence    13

7. Berapakah median umur dari keseluruhan karyawan Tokolapak?

In [16]:
print(f"median umur karyawan tokolapak adalah {data_profil.umur.median()}")

median umur karyawan tokolapak adalah 27.0

8. Tanggal berapakah menjadi hari favorit karyawan Tokolapak pulang ke Jabodetabek?

In [17]:
jumlah_pemudik = catatan_lokasi.groupby("tanggal").sum()["mudik"]
pemudik_sblm = 0
pemudik_pulang = {}
for tgl in jumlah_pemudik.index:
    pemudik_pulang[tgl] = pemudik_sblm-jumlah_pemudik[tgl]
    pemudik_sblm = jumlah_pemudik[tgl]

df_pemudik_pulang = pd.DataFrame(list(pemudik_pulang.items()), columns=["tanggal", "selisih pemudik dengan hari kemarin"])
df_pemudik_pulang.sort_values("selisih pemudik dengan hari kemarin",ascending=False).head(1)

    tanggal  selisih pemudik dengan hari kemarin
8  09/06/19                                   49

9. Berapa jumlah karyawan yang mudik dan tergabung dalam Divisi Data Science?

In [18]:
df_mudik_ds = catatan_lokasi[(catatan_lokasi["mudik"]==1) & (catatan_lokasi["id"].isin(kel_divisi['Data Science']))]
id_mudik_ds = set(df_mudik_ds.id.unique())

if id_mudik_ds==kel_divisi["Data Science"]:
    print("Semua karyawan data science mudik")
else:
    print(f"{len(id_mudik_ds)} karyawan data science mudik")

Semua karyawan data science mudik

10. Berapakah umur karyawan yang paling senior dari dari karyawan yang tergabung dalam divisi Data Engineer?

In [19]:
#di sorting umur dari terbesar ke terkecil
df_ds = data_profil[data_profil["divisi"]=="Data Science"]
df_ds.sort_values("umur",ascending=False).head(1)

    id jenis_kelamin        divisi  umur
49  50     Laki-laki  Data Science    35

11. Berapa jumlah karyawan TokoLapak?

In [20]:
jumlah = len(data_profil.index.unique())
print(f"karyawan tokolapak berjumlah {jumlah} orang")

karyawan tokolapak berjumlah 100 orang

12. Karyawan dengan id berapakah yang mudiknya paling lama (perkiraan 20 hari mudik)?

In [21]:
long_streak = {}
streak = {}
for tm in tanggal_mudik:
    id_mudik = set(catatan_lokasi[(catatan_lokasi["tanggal"]==tm) & (catatan_lokasi["mudik"]==1)].id)
    for s in list(streak.keys()):
        if s not in id_mudik:
            if (s not in list(long_streak.keys())) or (streak[s]>long_streak[s]):
                long_streak[s] = streak[s]
            del streak[s]
    for i in id_mudik:
        if i in streak:
            streak[i] += 1
        else:
            streak[i] = 1
    
df_long_streak = pd.DataFrame(list(long_streak.items()), columns=["id","lama mudik"])
df_long_streak.sort_values("lama mudik",ascending=False).head(1)

    id  lama mudik
92  10          20

13. Kabupaten/Kota manakah yang menjadi tujuan mudik terbanyak?

In [22]:
count_kota = {}
for i in data_profil.index:
    kota_mudik = catatan_lokasi[(catatan_lokasi["id"]==i) & (catatan_lokasi["mudik"]==1)]["lokasi_dominan"].unique()
    for i in kota_mudik:
        try:
            count_kota[i] += 1
        except:
            count_kota[i] = 1

df_count_kota = pd.DataFrame(list(count_kota.items()), columns=["kota/kab","jumlah pemudik"])
df_count_kota.sort_values("jumlah pemudik",ascending=False).head()

            kota/kab  jumlah pemudik
6    Kota Yogyakarta              14
8   Kabupaten Sleman              14
0         Kota Medan              12
10  Kabupaten Bantul               9
1        Kota Padang               8

14. Divisi apakah yang semua anggotanya mudik?

In [23]:
id_mudik = set(catatan_lokasi[catatan_lokasi["mudik"]==1].id)
for div,i in kel_divisi.items():
    if set(i).intersection(id_mudik):
        print(f"divisi {div} semuanya mudik")

divisi Customer Service semuanya mudik
divisi Data Engineer semuanya mudik
divisi Software Engineer semuanya mudik
divisi Business Intelligence semuanya mudik
divisi Data Science semuanya mudik
divisi Marketing semuanya mudik

15. Kabupaten/Kota manakah yang menjadi tujuan mudik paling sedikit?

In [24]:
df_count_kota.sort_values("jumlah pemudik").head()

                 kota/kab  jumlah pemudik
12      Kabupaten Kebumen               2
14        Kota Banda Aceh               2
11  Kabupaten Tasikmalaya               4
2             Kota Manado               5
9           Kota Semarang               5

16. Di hari apakah yang menjadi hari favorit (paling banyak) karyawan Tokolapak melakukan mudik? Asumsikan waktu yang dibutuhkan untuk mudik kurang dari 1 hari, dan apabila dia mulai berada di luar Jabodetabek pada hari tersebut, maka hari tersebutlah yang menjadi dominan lokasi seseorang mudik.

In [25]:
catatan_lokasi[catatan_lokasi["mudik"]==1].groupby('tanggal').count().max()

id                93
lokasi_dominan    93
mudik             93
dtype: int64

17. Dari daftar karyawan berikut, siapakah yang memiliki kans untuk dititipi oleh-oleh Lapis Legit Zulaikha tersebut?

In [26]:
mudik_medan = catatan_lokasi[catatan_lokasi["lokasi_dominan"]=="Kota Medan"].id
lama_medan = mudik_medan.value_counts().index[0]
print(f"karyawan dengan id {lama_medan} paling mungkin dititipi lapis legit zulaikha")

karyawan dengan id 17 paling mungkin dititipi lapis legit zulaikha

18. Karyawan dengan id berapakah yang memiliki kesempatan untuk membawa oleh-oleh makanan khas Kartika Sari Bandung?

In [27]:
mudik_bdg = catatan_lokasi[catatan_lokasi["lokasi_dominan"]=="Kota Bandung"].id
lama_bdg = mudik_bdg.value_counts().index[0]
print(f"karyawan dengan id {lama_bdg} paling mungkin dititipi makanan khas Kartika Sari Bandung")

karyawan dengan id 21 paling mungkin dititipi makanan khas Kartika Sari Bandung

19. Berapa banyak karyawan TokoLapak yang melakukan mudik Lebaran 2019? Catatan: Diasumsikan bahwa karyawan yang melakukan mudik adalah karyawan yang tidak berada di Jabodetabek pada hari H Lebaran, yaitu 5 Juni 2019

In [28]:
mudik_lebaran = catatan_lokasi[(catatan_lokasi["mudik"]==1) & (catatan_lokasi["tanggal"]=="05/06/19")]
jum_mudik_lebaran = mudik_lebaran.id.count()
jum_karyawan = len(data_profil)
print(f"Dari {jum_karyawan} karyawan, sebanyak {jum_karyawan-jum_mudik_lebaran} karyawan tidak mudik di hari H lebaran")

Dari 100 karyawan, sebanyak 9 karyawan tidak mudik di hari H lebaran

20. Berapa persen dari total jumlah karyawan yang mudik, karyawan Tokolapak pulang ke Jabodetabek pada tanggal 9 Juni 2019?

In [29]:
plg_mudik = catatan_lokasi[(catatan_lokasi["mudik"]==0) & (catatan_lokasi["tanggal"]=="09/06/19") & (catatan_lokasi["id"].isin(mudik_lebaran["id"]))].id.count()
print(f"{plg_mudik} dari {jum_mudik_lebaran} karyawan sudah pulang mudik lebaran di tanggal 9 Juni 2019")

58 dari 91 karyawan sudah pulang mudik lebaran di tanggal 9 Juni 2019

21. Divisi apakah yang persentase pemudiknya paling sedikit?

In [30]:
tdk_mudik = data_profil[~(data_profil.index.isin(mudik_lebaran["id"]))]
div_tdk_mudik = tdk_mudik['divisi'].value_counts()
persen_kecil = 100
for dtm in div_tdk_mudik.index:
    persen_divisi = div_tdk_mudik[dtm]/len(data_profil[data_profil["divisi"]==dtm])
    if persen_divisi<persen_kecil:
        persen_kecil = persen_divisi
        div_kecil = dtm
    
print(f"Divisi {div_kecil} memiliki persentase pemudik paling kecil")

Divisi Software Engineer memiliki persentase pemudik paling kecil

22. Divisi apakah yang jumlah pemudiknya paling sedikit ?

In [31]:
div_less_mudik = div_tdk_mudik.index[0]
print(f"Divisi {div_less_mudik} memiliki jumlah pemudik paling sedikit")

Divisi Business Intelligence memiliki jumlah pemudik paling sedikit

23. Ada karyawan yang mudik ke Kabupaten Lampung Selatan, yaitu karyawan dengan id 80. Pada tanggal berapakah dia sudah pulang ke Jabodetabek?

In [32]:
mudik80 = catatan_lokasi[(catatan_lokasi["mudik"]==1) & (catatan_lokasi["id"]==80)]
akhir_mudik80 = mudik80.tail(1).tanggal.values[0]

print(f"Hari terkahir id 80 ada di Kabupaten Lampung Selatan pada {akhir_mudik80}")

Hari terkahir id 80 ada di Kabupaten Lampung Selatan pada 07/06/19

24. Berapa karyawan dapat diminta tolong untuk dititipi oleh-oleh Lapis Legit Zulaikha langsung dari tokonya?

In [33]:
jum_mudik_medan = len(mudik_medan.unique())
print(f"{jum_mudik_medan} karyawan bisa dititipi Lapis Legit Zulaikha")

12 karyawan bisa dititipi Lapis Legit Zulaikha

25. Pada tanggal berapakah seluruh karyawan Tokolapak sudah berada di Jabodetabek

Dalam memilih model klasifikasi, tidaklah cukup dengan melihat akurasi, terdapat beberapa kriteria diantaranya :
<ol>
<li>Presisi</li>
<li>Recall/Sensitifitas</li>
<li>Spesifisitas</li>
<li>F-1 Score</li>
</ol>

Dalam file klasifikasi.csv, terdapat hasil dari prediksi klas dan klas dari data yang sebenarnya, 1 adalah kelas positif dan 0 adalah kelas negatif, carilah masing-masing presisi, recall, spesifisitas, f-1 score, dan akurasi menggunakan fungsi yang didefinisikan (tidak menggunakan bantuan modul python seperti sklearn). Berikut adalah formulasinya :
<br>
<br>
<img alt="" src="Confusion-matrix-for-binary-classification.png" style="height:280px" /> 
<img alt="" src="model evaluation.png" style="height:280px" />

In [35]:
import pandas as pd
df = pd.read_csv('klasifikasi.csv')
df.head()

   Aktual  Prediksi
0       1         0
1       1         1
2       1         1
3       1         1
4       1         1

In [36]:
aktual = df['Aktual'].to_list()
prediksi = df['Prediksi'].to_list()

In [ ]:
list = [1,1,1,1,1]

In [37]:
def presisi():
    tp = 0
    fp = 0
    for i in range(len(aktual)):
        if prediksi[i] == 1 and aktual[i] == 1 :
            tp += 1
        elif prediksi[i] == 1 and aktual[i] == 0 :
                fp += 1
    hasil = tp / (tp+fp)
    return (hasil)

In [38]:
presisi()

0.8653846153846154

In [39]:
def recall():
    tp = 0
    fn = 0
    for i in range(len(aktual)):
        if aktual[i] == 1 and prediksi[i] == 1:
            tp += 1
        elif prediksi [i] == 0 and aktual[i]== 1:
            fn += 1
    hasil = tp / (tp + fn)
    return(hasil)
recall()

0.9

In [40]:
def spesifisitas():
    tn = 0
    fp = 0
    for i in range(len(aktual)):
        if aktual[i] == 0 and prediksi[i] == 0:
            tn += 1
        elif prediksi [i] == 1 and aktual[i]== 0:
            fp += 1
    hasil = tn / (tn + fp)
    return(hasil)
spesifisitas()

0.86

In [41]:
def f1_score():
    hasil_presisi = presisi()
    hasil_recall = recall()
    hasil = 2 * (hasil_presisi * hasil_recall) / (hasil_presisi + hasil_recall)
    return(hasil)
f1_score()

0.8823529411764707